* {
    margin: 0;
    padding: 0;
}

.header_Aria {
    width: 95%;
    height: 100vh;
    background-image: url(./images/banner/banner1.png);
    background-position: center;
    background-size: contain;
    padding: 0px 20px;
    margin: auto;
}

.header_Section {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;

}

.banner_content {
    width: 40%;
    /* margin-right: 50px; */
}

.banner_Title {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.banner_info {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.contact_btn {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 20px;
}

.contact_btn button {
    width: 160px;
    background: #F15B22;
    padding: 10px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 18px;

}

.failures_Section {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;

}

.img_aria {
    width: 50%;
    text-align: center;
}

.img_aria img {
    width: 80%;
}

.list_aria {
    width: 30%;
    font-size: 18px;
    margin-right: 200px;
}

.list_aria h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.list {
    display: flex;
    margin-top: 10px;

}

.list img {
    width: 20px;
    margin-right: 8px;
}

.plan_Section {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.plan_Section h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.plans {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.plan h4 {
    margin: 10px 0px;
}



.gradient {
    width: 90%;
    height: 300px;
    margin-top: 100px;
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;

}

.plan_Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 100%;
    background: linear-gradient(to right, rgb(241, 91, 34, 1) 0%, rgba(255, 255, 255, 0) 69%);
    margin: auto;
    padding: 50px;
}

.plan_content {
    width: 40%;
    margin-top: -130px;

}

.plan_content h1 {
    font-size: 40px;
    color: white;
}

.plan_content button {
    width: 110px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(241, 91, 34, 1);
}

.footer {
    width: 100%;
    height: 300px;
    background: #000;
    margin: auto;
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left_Content {
    margin-left: 100px;
}

.footer_Info {
    width: 50%;

}

.footer_Info h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_Info p {
    font-size: 16px;
    line-height: 25px;
}

.link_Icon {
    margin-top: 20px;

}

.link_Icon img {
    margin-right: 8px;
}

.right_Content {
    margin-right: 150px;
}

.right_Content h3 {
    font-size: 30px;
    font-weight: bold;
}

.right_Content input {
    padding: 5px;
    margin: 8px 0px;
}

.right_Content button {
    width: 120px;
    padding: 10px;
    color: rgb(241, 91, 34, 1);
}